.slideshow {
  width: 800px;
  border: 1px solid black;
  margin-left: 20%;
  margin-bottom: 2px;
}

.slideshowInfo:not(:first-of-type){
	display: none;
}

.slideshowInfo img{
	height: 400px;
	width: 800px;
}

.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: auto;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dotContainer{
	width: 12%;
	margin: 0 auto;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.text {
  font-size: 15px;
  width: 800px;
}

.text a{
	color: blue;
	font-style: italic;
}

.text a:hover{
	text-decoration: underline;
}

.active, .dot:hover {
  background-color: #717171;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
